DZ4.2/WebApplication2/WebApplication2/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSquare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSquareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSquareResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBAMtoHRK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBAMtoHRKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBAMtoHRKResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHRKtoBAM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHRKtoBAMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetHRKtoBAMResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBAMtoRSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBAMtoRSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBAMtoRSDResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRSDtoBAM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRSDtoBAMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRSDtoBAMResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSquareSoapIn">
    <wsdl:part name="parameters" element="tns:GetSquare" />
  </wsdl:message>
  <wsdl:message name="GetSquareSoapOut">
    <wsdl:part name="parameters" element="tns:GetSquareResponse" />
  </wsdl:message>
  <wsdl:message name="GetBAMtoHRKSoapIn">
    <wsdl:part name="parameters" element="tns:GetBAMtoHRK" />
  </wsdl:message>
  <wsdl:message name="GetBAMtoHRKSoapOut">
    <wsdl:part name="parameters" element="tns:GetBAMtoHRKResponse" />
  </wsdl:message>
  <wsdl:message name="GetHRKtoBAMSoapIn">
    <wsdl:part name="parameters" element="tns:GetHRKtoBAM" />
  </wsdl:message>
  <wsdl:message name="GetHRKtoBAMSoapOut">
    <wsdl:part name="parameters" element="tns:GetHRKtoBAMResponse" />
  </wsdl:message>
  <wsdl:message name="GetBAMtoRSDSoapIn">
    <wsdl:part name="parameters" element="tns:GetBAMtoRSD" />
  </wsdl:message>
  <wsdl:message name="GetBAMtoRSDSoapOut">
    <wsdl:part name="parameters" element="tns:GetBAMtoRSDResponse" />
  </wsdl:message>
  <wsdl:message name="GetRSDtoBAMSoapIn">
    <wsdl:part name="parameters" element="tns:GetRSDtoBAM" />
  </wsdl:message>
  <wsdl:message name="GetRSDtoBAMSoapOut">
    <wsdl:part name="parameters" element="tns:GetRSDtoBAMResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <wsdl:input message="tns:GetSquareSoapIn" />
      <wsdl:output message="tns:GetSquareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoHRK">
      <wsdl:input message="tns:GetBAMtoHRKSoapIn" />
      <wsdl:output message="tns:GetBAMtoHRKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHRKtoBAM">
      <wsdl:input message="tns:GetHRKtoBAMSoapIn" />
      <wsdl:output message="tns:GetHRKtoBAMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoRSD">
      <wsdl:input message="tns:GetBAMtoRSDSoapIn" />
      <wsdl:output message="tns:GetBAMtoRSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRSDtoBAM">
      <wsdl:input message="tns:GetRSDtoBAMSoapIn" />
      <wsdl:output message="tns:GetRSDtoBAMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <soap:operation soapAction="http://tempuri.org/GetSquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoHRK">
      <soap:operation soapAction="http://tempuri.org/GetBAMtoHRK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRKtoBAM">
      <soap:operation soapAction="http://tempuri.org/GetHRKtoBAM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoRSD">
      <soap:operation soapAction="http://tempuri.org/GetBAMtoRSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRSDtoBAM">
      <soap:operation soapAction="http://tempuri.org/GetRSDtoBAM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <soap12:operation soapAction="http://tempuri.org/GetSquare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoHRK">
      <soap12:operation soapAction="http://tempuri.org/GetBAMtoHRK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHRKtoBAM">
      <soap12:operation soapAction="http://tempuri.org/GetHRKtoBAM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBAMtoRSD">
      <soap12:operation soapAction="http://tempuri.org/GetBAMtoRSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRSDtoBAM">
      <soap12:operation soapAction="http://tempuri.org/GetRSDtoBAM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44329/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44329/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>